


.incomplete {
    background-color: #DCDCDC;
    border: thin solid #FFFFFF;
    padding: 5px 15px;
    margin: 3px 3px 3px 3px;
    display: inline;
}

.complete {
    background-color: rgb(32, 182, 18);
    border: thin solid #FFFFFF;
    padding: 5px 15px;
    margin: 3px 3px 3px 3px;
    display: inline;
}

.incomplete > button {
    /* background-color: block; */
    width:30px;
    height:15px;
}



.complete > button {
    /* background-color: block; */
    width:30px;
    height:15px;
}

